*{
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.flex-container-column{
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    background-color: #1d1d1d;
}
.flex-container-row{
 display: flex;
 flex-direction: row;
}
.button{
    flex-basis: 25%;
    padding: 25px;
    background-color: #1d1d1d;
    text-align: center;
    color: white;
}
.button:hover{
   font-weight: bold;
   background-color: rgba(27, 27, 27, 0.524);
}
.double{
    flex-grow: 2;
      padding: 20px 10px;
    background-color: #1d1d1d;
    text-align: center;
    color: white;
}
.double > .equal:hover{
    background-color: rgba(0, 229, 179, 0.763);
   
}
.display{
    flex: basis 100%;
    background-color: #141414;
    border: 1px solid black;
    text-align: end;
}
#displayNumber{
    color: white;
    margin-right: 10px;
}

.operator{
    background-color: rgb(0, 229, 179);
    
}
.equal {
    background-color: rgb(0, 229, 179);
   padding: 12px 60px;
   border-radius: 10px;

}



.card{
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 4px 9px -3px rgba(0, 0, 0, 0.8);
}
.aritmatik{
    color:rgb(0, 229, 179); 
    font-weight: 700;
}
@media screen and (max-width:513px) {
    .button{
        padding: 10px;
    }
    
  

}
@media screen and (max-width:250px) {
    .button{
        padding: 5px;
    }
    .double {
   padding: 4px;
}
.equal{
   padding: 4 15px;
}
}
 